<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ARCPSGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    
    <add key="DiagnosticImagePath" value="C:\ARCPSIMAGES\"/>
    <add key="ExitKioskXmlPath" value="E:\Temp\RR\"/>
    <!--<add key="OPCSHostMachine" value="HPIServer" />
    <add key="OPCServer" value="Intellution.IntellutionGatewayOPCServer" />-->
    <add key="OPCSHostMachine" value="localhost"/>
    <add key="OPCServer" value="Matrikon.OPC.Simulation.1"/>
   
    <add key="ValidationKey" value="EthdR4LlH7R7QpnlKcOv1u5VBpFeSI4K5RX4dxtpnYk7C7HbOaL0q2kjxPUxhumP7E7VNdB4KoM="/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=orcl)));User Id=l2rpmsadmin;Password=fclrpms456;"/>
    <!--<add key="ConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=3.0.0.200)(PORT=1521))(CONNECT_DATA=(SID=orcl)));User Id=l2rpmsadmin;Password=fclrpms456;" />-->
    <add key="ALARM_ERROR" value="0"/>
    <add key="ALARM_MANUAL" value="0"/>
    <add key="ALARM_DISABLE" value="0"/>
    <add key="ALARM_TRIGGER" value="1"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <ARCPSGUI.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </ARCPSGUI.Properties.Settings>
  </userSettings>
</configuration>
